{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load my_custom_tags %} 

{% block page_content %}
    <div class="md-card">
        <div class="uk-sticky-placeholder" style="height: 130px; margin: 0px;"><div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }" style="margin: 0px;">
            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                    <img src="{{ MEDIA_URL }}{{ object.image }}" alt="user avatar" class="">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                
            </div>
            <div class="user_heading_content">
                <h2 class="heading_b uk-float-left">
                    <span class="uk-text-truncate" id="user_edit_uname">{{ object.surname }} {{ object.first_name }} </span> <div> {{ object.phone_number}}</div>
                <span class="sub-heading" id="user_edit_position">
                    Role: <b>{{ object.coop_role|title }}</b> |
                     Quantity Collected: <b>{{ object.collection_quantity|intcomma  }}</b> |
                    Amount Balance: <b>{{ object.collection_amount|intcomma  }}</b> | 
                    Paid Amount<b> {{ object.paid_amount|intcomma  }}</b>
                    Sent SMS<b> {{ object.get_sms_sent|intcomma  }}</b></span>
                </h2>
                {% if object.verified_record %}
                    <img src="{% static 'assets/img/verifiedStamp.png' %}" class="uk-float-right" width="45">
                {% endif %}
            </div>
            <div class="md-fab-wrapper">
                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                    <i class="material-icons"></i>
                    <div class="md-fab-toolbar-actions">
                        <a href="{% url 'coop:member_update' object.id %}" type="submit" id="user_edit_save" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Edit"><i class="material-icons md-color-white">edit</i></a>
                        <button type="submit" id="user_edit_print" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Print"><i class="material-icons md-color-white">print</i></button>
                    </div>
                </div>
            </div>
        </div></div>
        <div class="user_content">
            <ul class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                <li class="uk-active" aria-expanded="true"><a href="#">Member Profile</a></li>
                <li aria-expanded="false"><a href="#">Collection</a></li>
                <li aria-expanded="false"><a href="#">Orders</a></li>
                <li aria-expanded="false"><a href="#">Payments/earning</a></li>
            <li class="uk-tab-responsive uk-active uk-hidden" aria-haspopup="true" aria-expanded="false"><a>Basic</a><div class="uk-dropdown uk-dropdown-small"><ul class="uk-nav uk-nav-dropdown"></ul><div></div></div></li></ul>
            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                <li aria-hidden="false" class="uk-active">
                    <div class="uk-margin-top">
                        <!--<h3 class="full_width_in_card heading_c">
                            General info
                        </h3>-->
                        <ul class="md-list">
                            <li>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Name</span>
                                            <div class="md-list-heading"> {{ object.surname }} {{ object.first_name }} {{ object.other_name|default:'' }} {% include 'verified.html' with field=object.verified_record %}</div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Date of Birth</span>
                                            <div class="md-list-heading">{{ object.date_of_birth }} </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Gender</span>
                                            <div class="md-list-heading">{{ object.gender }}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                 <div class="uk-grid">
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Cooperative</span>
                                            <div class="md-list-heading">{{ object.cooperative }}</div>
                                        </div>
                                     </div>
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Farmer Group</span>
                                            <div class="md-list-heading">{{ object.farmer_group }}</div>
                                        </div>
                                     </div>
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Is Handicap</span>
                                            <div class="md-list-heading">{{ object.is_handicap }}</div>
                                        </div>
                                    </div>
                                 </div>
                            </li>
                            <li>
                                 <div class="uk-grid">
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Maritual Status</span>
                                            <div class="md-list-heading">{{ object.maritual_status }}</div>
                                        </div>
                                     </div>
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Is Refugee</span>
                                            <div class="md-list-heading">{{ object.is_refugee }}</div>
                                        </div>
                                     </div>
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Is Handicap</span>
                                            <div class="md-list-heading">{{ object.is_handicap }}</div>
                                        </div>
                                    </div>
                                 </div>
                            </li>
                             <li>
                                 <div class="uk-grid">
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">ID Number</span>
                                             <div class="md-list-heading">{{ object.id_number }}</div>
                                        </div>
                                     </div>
                                     <div class="uk-width-medium-1-3 parsley-row">
                                         <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">User ID</span>
                                             <div class="md-list-heading">{{ object.user_id }}</div>
                                        </div>
                                     </div>

                                 </div>
                            </li>
                            <li>
                                 <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Phone number</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.phone_number }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Other Number</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.other_number }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Email Address</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.email }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">District</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.district|default:"-"  }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">County</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.county|default:"-"  }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Sub County</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.sub_county|default:"-"  }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Parish</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.parish|default:"-"  }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Village</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.village|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">GPS</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.gps_coodinates|default:"-"  }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Address</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.address }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Role in Cooperative</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.coop_role }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Land Acreage</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.land_acreage|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Shea Trees</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.shea_trees|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Harvested Quantity</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.harvested_quantity|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Sunflower Acreage</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.sunflower_acreage|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Sunflower Planted</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.sunflower_planted|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Sunflower Collected</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.sunflower_collected|default:"-" }} </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                 <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">App ID</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.app_id }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Savings</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.savings_balance }} </span>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Status</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.is_active }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                 <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="ruk-text-muted uk-text-small">Created By</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.create_by }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <div class="md-list-content">
                                            <span class="uk-text-muted uk-text-small">Create Date</span>
                                            <div>
                                                <span class="md-list-heading">{{ object.create_date }} </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-2 parsley-row">
                                        {% if not  object.verified_record %}
                                            <a href="#" id="id_verify_record" class="md-btn md-btn-success uk-float-left ">Verify Record</a>
                                        {% endif %}
                                        {% if object.verified_record %}
                                            <img src="{% static 'assets/img/verifiedStamp.png' %}"  width="45">
                                            Verified By: {{ object.verified_by }} | {{ object.verified_date }}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>

                     </div>
                </li>
                <li aria-hidden="true">
                     <div class="uk-margin-top">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <div class="md-list-content uk-overflow-container">
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                            <th>Create Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for shares in object.get_collections %}
                                        <tr>
                                            <td>{{ shares.collection_date|date:'M. d, Y' }}</td>
                                            <td>{{ shares.product }}</td>
                                            <td>{{ shares.quantity }}</td>
                                            <td>{{ shares.total_price }}</td>
                                            <td>{{ shares.create_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                <li aria-hidden="true">
                    <div class="uk-margin-top">
                        <ul class="md-list">
                            <li>
                                <span class="uk-text-muted uk-text-small">Orders {{ object.get_order.count }}</span>
                                <div class="md-list-content uk-overflow-container">
                                    <span class="md-list-heading">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Order Date</th>
                                                    <th>Order Number</th>
                                                    <th>Order Price</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in object.get_order %}
                                                <tr>
                                                    <td>{{ order.order_date|date:'M. d, Y' }}</td>
                                                    <td>{{ order.order_reference }}</td>
                                                    <td>{{ order.order_price }}</td>
                                                    <td>{{ order.status }}</td>
                                                  
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </span>
                                </div>
                            </li>
                           
                        </ul>
                    </div>
                </li>
                <li aria-hidden="true">
                    <div class="uk-margin-top">
                        <ul class="md-list">
                            <li>
                                <span class="uk-text-muted uk-text-small">Payments {{ object.get_payments.count }}</span>
                                <div class="md-list-content uk-overflow-container">
                                    <span class="md-list-heading">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Payment Date</th>
                                                    <th>Number</th>
                                                    <th>Amount</th>
                                                    <th>Reference</th>
                                                    <th>Status</th>
                                                    <th>Payment Method</th>
                                                    <th>Transaction Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for payment in object.get_payments %}
                                                <tr>
                                                    <td>{{ payment.payment_date|date:'M. d, Y' }}</td>
                                                    <td>{{ payment.phone_number }}</td>
                                                    <td>{{ payment.amount }}</td>
                                                    <td>{{ payment.transaction_reference }}</td>
                                                    <td>{{ payment.status }}</td>
                                                    <td>{{ payment.payment_method }}</td>
                                                    <td>{{ payment.transaction_date|date:'M. d, Y' }}</td>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li aria-hidden="true">
                     <div class="uk-margin-top uk-overflow-container">
                        <table class="uk-table uk-table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Transaction ID</th>
                                    <th>Payment Method</th>
                                    <th>Share Price</th>
                                    <th>Amount Paid</th>
                                    <th>Shares</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% for share in object.get_member_shares %}
                                <tr>
                                    <td>{{ share.transaction_date|date:'M. d, Y' }}</td>
                                    <td>{{ share.transaction_id}}</td>
                                    <td>{{ share.payment_method }}</td>
                                    <td>{{ share.shares_price }}</td>
                                    <td>{{ share.amount }}</td>
                                    <td>{{ share.shares }}</td>
                                    <td>{{ share.status }}</td>
                                  
                            {% endfor %}
                            </tbody>
                        </table>
                     </div>
                </li>
                
                <li aria-hidden="true">
                   <div class="uk-margin-top">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <div class="md-list-content">
                                
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Bought</th>
                                            <th>Current Shares</th>
                                            <th>Create Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for shares in object.get_member_shares %}
                                        <tr>
                                            <td>{{ shares.transaction_date|date:'M. d, Y' }}</td>
                                            <td>{{ shares.amount }}</td>
                                            <td>{{ shares.shares }}</td>
                                            <td>{{ shares.new_shares }}</td>
                                            <td>{{ shares.create_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </li>
                <li aria-hidden="true">
                   <div class="uk-margin-top">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <div class="md-list-content">
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th>Thematic Area</th>
                                            <th>Topic</th>
                                            <th>Trainer</th>
                                            <th>Create Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for shares in object.get_member_shares %}
                                        <tr>
                                            <td>{{ shares.transaction_date|date:'M. d, Y' }}</td>
                                            <td>{{ shares.amount }}</td>
                                            <td>{{ shares.shares }}</td>
                                            <td>{{ shares.new_shares }}</td>
                                            <td>{{ shares.create_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> 
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block page_specific_scripts %}
 <!-- page specific plugins -->
    
    <script>

        $('#id_verify_record').on('click', function(){
            UIkit.modal.confirm(
                '<div>You are about to Verify this information. This means the information provided is clean and valid. Click Okay to Verify.</div></div>',
                function(){
                    $.ajax({
                        url: '{% url "coop:member_verify" object.id %}',
                        //url: url,
                        dataType: 'json',
                        type: 'post',
                        contentType: 'application/json',

                        success: function( data, textStatus, jQxhr ){
                            console.log(data)
                            var res = data;
                            UIkit.modal.alert(res.message);
                            UIkit.modal('#modal_header_footer').hide();
                            modal.hide()
                            clear_msg_text();
                        },
                        error: function( jqXhr, textStatus, errorThrown ){
                            var res = jQuery.parseJSON(data);
                            UIkit.modal.alert(res.message);
                            UIkit.modal('#modal_header_footer').hide();
                            modal.hide()
                            clear_msg_text();
                        }
                    })

                  });
        })

        $(function() {
            $(function() {
                // enable hires images
                altair_helpers.retina_images();
                // fastClick (touch devices)
                if(Modernizr.touch) {
                    FastClick.attach(document.body);
                }
            });
        });
    </script>
{% endblock %}