{% extends 'base.html' %}
{% load static %}
{% load material_form %} 

{% block page_content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2 class="heading_a uk-margin-bottom">Member Subscription</h2>
        </div>
        <div class="uk-width-medium-1-2">
            <a href="{% url 'coop:member_subscription_create' %}" class="md-btn md-btn-success uk-float-right">Add Subscription</a>
        </div>
    </div>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        <th>Member</th>
                        <th>Amount</th>
                        <th>Year</th>
                        <th>Transaction ID</th>
                        <th>Transaction Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                            <tr>
                               <td>{{ item.cooperative_member }}</td>
                               <td>{{ item.amount_paid }}</td>
                                <td>{{ item.year }}</td>
                                <td>{{ item.transaction_id }}</td>
                                <td>{{ item.transaction_date }} </td>
                                <td>
                                    <a href="{% url 'coop:contribution_update' item.id %}" class="md-btn md-btn-wave waves-effect waves-button uk-float-right">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_specific_scripts %}
 <!-- page specific plugins -->
    
    <script>
        $(function() {
            $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
        });
    </script>
{% endblock %}