{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- basic table -->
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <h2 class="heading_a uk-margin-bottom">Members Map Location</h2>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="{% url 'coop:member_list' %}" class="md-btn md-btn-success uk-float-right">Members List</a>
    </div>
</div>

<h4 class="card-title">Farmers</h4>
                <div id="map_2" class="gmaps" style="width:100%;height:700px;"></div>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-overflow-container">

            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDahoDk15oaz8VJ135FRLFRIFb2yI0CA4"></script>

<script src="{% static 'assets/gmaps/gmaps.min.js' %}"></script>
<script src="{% static 'assets/maps/map-google.init.js' %}"></script>
{% endblock %}