{% extends 'base.html' %}
{% load static %}
{% load material_form %} 

{% block page_content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h2 class="heading_a uk-margin-bottom">{{ partner }} Staff List</h2>
        </div>
        <div class="uk-width-medium-1-2">
            <a href="{% url 'partner:staff_create' partner.pk %}" class="md-btn md-btn-success uk-float-right">Add Staff</a>
        </div>
    </div>
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th>Create Date</th>
                        <th></th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                            <tr>
                                <td class="uk-text-center"><img class="md-user-image" src="{{ MEDIA_URL }}{{ item.photo }}" alt=""/></td>
                                <td>{{ item.last_name }} {{ item.first_name }}</td>
                                <td>{{ item.phone_number }}</td>
                                <td>{{ item.role }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.is_active }}</td>
                                <td>{{ item.create_date }}</td>
                                
                                <td class="uk-text-nowrap ">
                                    <a href="{% url 'partner:staff_edit' partner.pk item.pk %}"><i class="material-icons md-24" title="Edit">border_color</i></a>
                                    <a href=""><i class="material-icons md-24  uk-text-danger" title="Delete">delete</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_specific_scripts %}
 <!-- page specific plugins -->
    
    <script>
        $(function() {
            $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
        });
    </script>
{% endblock %}