<!doctype html>
{% load i18n %}
{% load static %}
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    
    <link rel="icon" type="image/png" href="{% static 'assets/img/fvicon_16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'assets/img/fvicon_32.png' %}" sizes="32x32">


    <title>{{ product_abbreviation }}</title>

    <!-- additional styles for plugins -->
        <!-- weather icons -->
        <link rel="stylesheet" href="{% static 'bower_components/weather-icons/css/weather-icons.min.css' %}" media="all">
        <!-- metrics graphics (charts) -->
<!--        <link rel="stylesheet" href="{% static 'bower_components/metrics-graphics/dist/metricsgraphics.css' %}">-->
<!--        &lt;!&ndash; chartist &ndash;&gt;-->
<!--        <link rel="stylesheet" href="{% static 'bower_components/chartist/dist/chartist.min.css' %}">-->

    <!-- uikit -->
    <link rel="stylesheet" href="{% static 'bower_components/uikit/css/uikit.almost-flat.min.css' %}" media="all">

    <!-- flag icons -->
    <link rel="stylesheet" href="{% static 'assets/icons/flags/flags.min.css' %}" media="all">

    <!-- altair admin -->
    <link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}" media="all">

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="{% static 'bower_components/matchMedia/matchMedia.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/matchMedia/matchMedia.addListener.js' %}"></script>
    <![endif]-->
    <style>
        hr {
            margin: 0; !important
       }
       .uk-text-right{ text-align: right}
    </style>
    {% block style %}{% endblock %}

</head>
<body class=" sidebar_main_open sidebar_main_swipe header_full  {% block app_theme %} app_theme_f {% endblock %}">
    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                  <div class="main_logo_top">
                        <h2><a href="." style="color:#fff !important;">
                            {% if request.coop %} <img src="{{ MEDIA_URL }}{{ request.coop.logo }} " alt="" width="100"/>...</a> {% else %} <!--<img src="{% static 'assets/img/logo.png' %}" alt="" width="90"/> --> {{ product_abbreviation }}</a>{% endif %}</h2>
                   </div>
                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>

                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>

                    <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                        <li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
                        <!--<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE7F4;</i><span class="uk-badge">16</span></a>
                            <div class="uk-dropdown uk-dropdown-xlarge">
                                <div class="md-card-content">
                                    <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
                                        <li class="uk-width-1-2 uk-active"><a href="#" class="js-uk-prevent uk-text-small">Messages (12)</a></li>
                                        <li class="uk-width-1-2"><a href="#" class="js-uk-prevent uk-text-small">Alerts (4)</a></li>
                                    </ul>
                                    <ul id="header_alerts" class="uk-switcher uk-margin">
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-cyan">yd</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="pages_mailbox.html">Enim neque est.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Fugit non sit neque commodi molestiae quia nobis quia.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_07_tn.png" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="pages_mailbox.html">Occaecati aut.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Quis incidunt facere corrupti dolor at aut harum eum a sed.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-light-green">hr</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="pages_mailbox.html">Saepe est.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Repellat veritatis et illum magnam a dignissimos consequuntur molestiae.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_02_tn.png" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="pages_mailbox.html">Non necessitatibus inventore.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Enim et explicabo laboriosam enim voluptatum odio ut.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_09_tn.png" alt=""/>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="pages_mailbox.html">Voluptatem ratione maxime.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Dignissimos occaecati in voluptatem eos reiciendis.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                                <a href="page_mailbox.html" class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                            </div>
                                        </li>
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Voluptates assumenda.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Necessitatibus non vel magnam neque.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Possimus eligendi.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Minus error quod impedit.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-danger">&#xE001;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Explicabo ut mollitia.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Perspiciatis ab nihil in sed.</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-primary">&#xE8FD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Modi sint dolor.</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Amet et eum quo sed et.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        --><li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image">
                                <img class="md-user-image" src="{% static 'assets/img/avatars/user.png' %}" alt=""/>
                                <span class="uk-text-bold">{{ request.user.username }}</span>
                            </a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="{% url 'profile:password_edit' %} ">Change Password</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_main_search_form">
            <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
            <form class="uk-form">
                <input type="text" class="header_main_search_input" />
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
            </form>
        </div>
    </header><!-- main header end -->
    <!-- main sidebar -->
    <aside id="sidebar_main">

        <div class="sidebar_main_header" style="height:auto !important; padding-top: 5px;">
            <!--<div class="sidebar_logo">
                <a href="index.html" class="sSidebar_hide"><img src="assets/img/logo_main.png" alt="" height="15" width="71"/>sas</a>
                <a href="index.html" class="sSidebar_show"><img src="assets/img/logo_main_small.png" alt="" height="32" width="32"/>asas</a>
            </div>-->
            <div class="sidebar_actions uk-text-center" >
                <h4 style="color: #000 !important;"><span class="uk-text-bold">{% if request.user.is_superuser %}SUPERUSER {% else %}{{ request.user.profile.access_level }}{% endif %}</span>
                <br><small>{{ request.user.cooperative_admin.cooperative }}</small></h4>

            </div>
        </div>

        <div class="menu_section">
            <ul>
                <li {% if '_dashboard' in active %}class="current_section"{% endif %} title="Dashboard">
                    <a href="{% url 'dashboard' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                        <span class="menu_title">Dashboard</span>
                    </a>
                </li>
                <hr>
                <li {% if '_agent' in active %}class="current_section"{% endif %} title="Agents">
                    <a href="{% url 'coop:agent_list' %}">
                        <span class="menu_icon"><i class="material-icons">assignment_id</i></span>
                        <span class="menu_title">Agent</span>
                    </a>
                </li>
                {% if request.user.profile.is_union %}
                    <!-- Union User -->
                    <li {% if '_cooperative' in active %}class="current_section"{% endif %} title="Cooperative">
                        <a href="{% url 'coop:list' %}">
                            <span class="menu_icon"><i class="material-icons">account_balance</i></span>
                            <span class="menu_title">FPO</span>
                        </a>
                    </li>

                    <li {% if '_cooperative' in active %}class="current_section"{% endif %} title="Cooperative">
                        <a href="{% url 'coop:fg_list' %}">
                            <span class="menu_icon"><i class="material-icons">account_balance</i></span>
                            <span class="menu_title">Farmer Group</span>
                        </a>
                    </li>

<!--                    <li {% if '_partner' in active %}class="current_section"{% endif %} title="Partner">-->
<!--                        <a href="{% url 'partner:list' %}">-->
<!--                            <span class="menu_icon"><i class="material-icons">extension</i></span>-->
<!--                            <span class="menu_title">Partners</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <hr>
<!--                    <li {% if '_coop_shares' in active %}class="current_section"{% endif %} title="Coop Shares">-->
<!--                        <a href="{% url 'coop:share_list' %}">-->
<!--                            <span class="menu_icon"><i class="material-icons">&#xE0B9;</i></span>-->
<!--                            <span class="menu_title">Cooperative Shares</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <!--<li {% if '_coop_contrib' in active %}class="current_section"{% endif %} title="Scrum Board">-->
                    <!--    <a href="{% url 'coop:contribution_list' %}">-->
                    <!--        <span class="menu_icon"><i class="material-icons">&#xE85C;</i></span>-->
                    <!--        <span class="menu_title">Coop Contribution</span>-->
                    <!--    </a>-->
                    <!--</li>-->
                    <!-- /union user -->
                {% endif %}
                {% if request.user.profile.is_union or request.user.profile.is_cooperative  or request.user.profile.is_partner %}
                <li {% if '_coop_member' in active %}class="current_section"{% endif %} title="Coop Member">
                    <a href="{% url 'coop:member_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Members</span>
                    </a>
                </li>
                <!--<li {% if '_coop_member' in active %}class="current_section"{% endif %} title="Snippets">-->
                <!--    <a href="{% url 'coop:member_subscription_list' %}">-->
                <!--        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>-->
                <!--        <span class="menu_title">Member Subscription</span>-->
                <!--    </a>-->
                <!--</li>-->
<!--                <li {% if '_coop_member_shares' in active %}class="current_section"{% endif %} title="Member Shares">-->
<!--                    <a href="{% url 'coop:member_shares' %}">-->
<!--                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>-->
<!--                        <span class="menu_title">Member Shares</span>-->
<!--                    </a>-->
<!--                </li>-->

                {% endif %}
                <li {% if '_savings' in active %}class="current_section"{% endif %} title="Member Shares">
                    <a href="{% url 'coop:savings_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Savings</span>
                    </a>
                </li>
                <hr>
                <li {% if '_transaction' in active %}class="current_section"{% endif %} title="Member Shares">
                    <a href="{% url 'account:transaction_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Transactions</span>
                    </a>
                </li>
                <hr>
                <li {% if '_payment' in active %}class="current_section"{% endif %} title="Member Shares">
                    <a href="{% url 'payment:list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Payments</span>
                    </a>
                </li>
                <hr>
                <li {% if '_collection' in active %}class="current_section"{% endif %} title="Supply Request">
                    <a href="{% url 'coop:collection_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Collection</span>
                    </a>
                </li>
                <hr>
                <li {% if '_order' in active %}class="current_section"{% endif %} title="Supply Request">
                    <a href="{% url 'coop:order_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Order</span>
                    </a>
                </li>
                <hr>

                <!--<li {% if '_coop_supply_request' in active %}class="current_section"{% endif %} title="Supply Request">
                    <a href="{% url 'coop:request_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Supply Request</span>
                    </a>
                </li>
                {% if request.user.profile.is_union or request.user.profile.is_partner %}
                    <li {% if '_op' in active %} class="current_section" {% endif %} title="Purchase">
                        <a href="{% url 'op:purchase_list' %}">
                            <span class="menu_icon"><i class="material-icons">add_shopping_cart</i></span>
                            <span class="menu_title">Purchase Transaction</span>
                        </a>
                    </li>
                {% endif %}-->
                {% if request.user.profile.is_union or request.user.profile.is_cooperative or request.user.profile.is_partner %}
                   <li {% if '_training' in active %}class="current_section"{% endif %} title="Training">
                        <a href="{% url 'op:purchase_list' %}">
                            <span class="menu_icon"><i class="material-icons">mail</i></span>
                            <span class="menu_title">Training</span>
                        </a>
                        <ul>
                            <li {% if '__training' in active %}class="act_item"{% endif %}><a href="{% url 'activity:training_list' %}">Training</a></li>
                            {% if request.user.profile.is_union %}
                                <li {% if '__thematic' in active %}class="act_item"{% endif %}><a href="{% url 'activity:thematic_list' %}">Thematic Areas</a></li>
                            {% endif %}
                        </ul>
                    </li>

                {% endif %}
                {% if request.user.profile.is_union or request.user.profile.is_cooperative %}
                    <li {% if '_messaging' in active %}class="current_section"{% endif %} title="Messaging">
                        <a href="{% url 'op:purchase_list' %}">
                            <span class="menu_icon"><i class="material-icons">mail</i></span>
                            <span class="menu_title">Messaging</span>
                        </a>
                        <ul>
                            <li {% if '__send' in active %}class="act_item"{% endif %}><a href="{% url 'messaging:message_send' %}">Create Message</a></li>
                            <li {% if '__sent' in active %}class="act_item"{% endif %}><a href="{% url 'messaging:message_list' %}">Message List</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.profile.is_union or request.user.profile.is_cooperative %}
<!--                <li {% if '_coop_settings' in active %}class="current_section"{% endif %}>-->
<!--                    <a href="#">-->
<!--                        <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>-->
<!--                        <span class="menu_title">Coop Settings</span>-->
<!--                    </a>-->
<!--                    <ul>-->
<!--                        <li {% if '__share_price' in active %}class="act_item"{% endif %}><a href="{% url 'coop:share_price_list' %}">Share Price</a></li>-->
<!--                        <li {% if '_registration_fee' in active %}class="act_item"{% endif %}><a href="{% url 'coop:fee_list' %}">Registration Fee</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
                {% endif %}

                {% if request.user.profile.is_cooperative and not request.user.is_superuser %}
                <li {% if '_coop_users' in active %}class="current_section"{% endif %} title="Coop User">
                    <a href="{% url 'profile:user_list' %}">
                        <span class="menu_icon"><i class="material-icons">&#xE86F;</i></span>
                        <span class="menu_title">Users</span>
                    </a>
                </li>
                {% endif %}
                {% if request.user.profile.is_union or request.user.profile.is_partner %}
                    <li {% if '_union_prod' in active %}class="current_section"{% endif %}>
                        <a href="#">
                            <span class="menu_icon"><i class="material-icons">settings_input_component</i></span>
                            <span class="menu_title">Product Config</span>
                        </a>
                        <ul>
                            <li {% if '__unit' in active %}class="act_item"{% endif %}><a href="{% url 'product:unit_list' %}">Unit</a></li>
                            <li {% if '__product' in active %}class="act_item"{% endif %}><a href="{% url 'product:variation_list' %}">Product</a></li>
                            <li {% if '__price' in active %}class="act_item"{% endif %}><a href="{% url 'product:price_list' %}">Product Price</a></li>
                            <hr>
                            <li {% if '__supplier' in active %}class="act_item"{% endif %}><a href="{% url 'product:supplier_list' %}">Supplier</a></li>
                            <li {% if '__Item' in active %}class="act_item"{% endif %}><a href="{% url 'product:item_list' %}">Supplier Items</a></li>
                       </ul>
                    </li>
                 {% endif %}

                 {% if request.user.is_superuser %}
                 <li>
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">account_circle</i></span>
                        <span class="menu_title">System Users</span>
                    </a>
                    <ul>
                        <li {% if '__user' in active %}class="act_item"{% endif %}><a href="{% url 'profile:user_list' %}">User</a></li>
                        <li {% if '__acess_level' in active %}class="act_item"{% endif %}><a href="{% url 'profile:access_list' %}">Access Level</a></li>
                        <li {% if '__group' in active %}class="act_item"{% endif %}><a href="{% url 'profile:group_list' %}">Group Permission</a></li>
                        <li {% if '__access_group' in active %}class="act_item"{% endif %}><a href="{% url 'profile:ag_list' %}">Access Group</a></li>
                    </ul>
                </li>
                <li {% if '_config' in active %}class="current_section"{% endif %}>
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">settings</i></span>
                        <span class="menu_title">System Configuration</span>
                    </a>
                    <ul>
                        <li  {% if '__messageT' in active %}class="act_item"{% endif %}><a href="{% url 'conf:sms_template' %}">SMS Templates</a></li>
                        <li  {% if '__district' in active %}class="act_item"{% endif %}><a href="{% url 'conf:district_list' %}">District</a></li>
                        <li  {% if '__county' in active %}class="act_item"{% endif %}><a href="{% url 'conf:county_list' %}">County</a></li>
                        <li  {% if '__sub_county' in active %}class="act_item"{% endif %}><a href="{% url 'conf:subcounty_list' %}">Sub County</a></li>
                        <li  {% if '__parish' in active %}class="act_item"{% endif %}><a href="{% url 'conf:parish_list' %}">Parish</a></li>
                        <li  {% if '__village' in active %}class="act_item"{% endif %}><a href="{% url 'conf:village_list' %}">Village</a></li>
                        <li  {% if '__payment_method' in active %}class="act_item"{% endif %}><a href="{% url 'conf:payment_list' %}">Payment Mode</a></li>
                        <li  {% if '__email_smtp' in active %}class="act_item"{% endif %}><a href="layout_top_menu.html">SMTP Email</a></li>
                        <li  {% if '__sms_api' in active %}class="act_item"{% endif %}><a href="layout_header_full.html">SMS API</a></li>
                    </ul>
                </li>
                {% endif %}
          </ul>

        </div>
        <div class="menu_bottom" style="padding: 8px 20px; height: auto; margin-top: 20px">
            <img src="{% static 'assets/img/logo.png' %}" width="100" style="bottom: 0px;">

        </div>
    </aside><!-- main sidebar end -->

    <div id="page_content">
        <div id="page_content_inner">
            {% include 'message.html' %}
            {% block page_content %}{% endblock %}

        </div>
    </div>

    

    

    <!-- common functions -->
    <script src="{% static 'assets/js/common.min.js' %}"></script>
    <!-- uikit functions -->
    <script src="{% static 'assets/js/uikit_custom.min.js' %}"></script>
    <!-- altair common functions/helpers -->
    <script src="{% static 'assets/js/altair_admin_common.min.js' %}"></script>
    {% block page_specific_scripts %}{% endblock %}
    
</body>
</html>
